@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

html {
  scroll-behavior: smooth;
}

.css-1gh6k7f-MuiBottomNavigationAction-label {
  opacity: 1 !important;
}

.Mui-selected {
  background: aqua;
}

.css-dqscbn-MuiSvgIcon-root {
  font-size: 35px;
}

.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  min-width: 0 !important;
  padding: 0 !important;
}

.css-1wnsr1i {
  width: 320px;
}

.after\:bg-beerus::after {
  background-color: rgb(159, 159, 159) !important;
}

.font-major {
  font-family: 'Major Mono Display',
  monospace;
}

@layer components {
  .border-expand::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #9A3412;
    transition: width 0.15s ease-out;
  }

  .border-expand:hover::after {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .css-dqscbn-MuiSvgIcon-root {
    font-size: 50px !important;
  }

  .css-1wnsr1i {
    width: 400px;
  }
}